.body{
  background-image: url(..//img/adano.jpg);
}
.image-showing {
       display: none;
     }

.clickable {
            cursor: pointer;
            color: #0088cc;
          }
.clickable:hover {
            text-decoration: underline;
          }
#ex{
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 33px;
  text-align: center;
}
#form{
  font-family: 'Playfair Display SC', serif;

}
h1{
  text-align: center;
}
#display{
  text-align: center;
  font-size: 38px;
  color: red;

}
.btn{
  text-align: center;
  font-size: 33px;

}
#redo{
  
  font-size: 35px;
  float: right;
}
#fail{
  text-align: center;
  font-size: 28px;
}
